body{
    margin: 0;
    background-color: black;
}
.header-wrapper{
    width: 100%;
    margin: auto;
    top: 0;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 5px 15px rgba(255, 115, 0, 0.2);
    backdrop-filter: blur(5px);
}
.hiddenIcon{
    width: 50px;
    height: 50px;
}
.hiddenIcon img{
    padding: 5px;
    width: 80%;
    height: 80%;
    background-color: orange;
    border-radius: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color:rgba(0, 0, 0, 0.74);
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin: auto;
    z-index: 2;
}
.navbarMenu{
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.navbarMenuLogo{
    height: 100%;
    display: flex;
    align-items: center;

}
.logoImage{
    height: 10vh;
}

.navbarLink{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}
.registerLink{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.navbarLink{
    position: relative; 
    z-index: 1; 
}

.navbarLink::before {
    position: absolute;
    content: '';
    bottom: -2px;
    left: -100%;
    width: 100%;
    height: 0.289vh;
    background-color: transparent;
    transition: background-color 0.4s ease, left 0.4s ease;
    z-index: 0; 
}

.navbarLink:hover::before {
    left: 0;
    background-color: rgb(248, 134, 3);
    z-index: 1;
}
.registerLink{
    font-size: 1.5rem;
    padding: 0.8vw;
    border-radius: 3px;
    transition: background-color 0.3s ease-in;
    border: 1px solid rgba(255, 255, 255, 0.522);
    color: white;
    border-radius: 18px;
}
.registerLink:hover{
    background-color: rgb(248, 134, 3);
    border: 1px solid rgba(3, 3, 3, 0);
    color: white;
}

.hiddenIcon{
    color: white;
    vertical-align: middle;
    cursor: pointer;
    font-size: 3rem;
}

.dropdownMenu{
    display: none;
}

.dropdown{
    display: none;
}
.dropdownLink{
    text-decoration: none;
    color: white;
    font-size:1.5rem;
    z-index: 5;
    
}
.dropdownItem{
    border-bottom: 2px solid rgb(248, 134, 3);
    padding: 3vh 0;
    z-index: 5;
}
@media (max-width:1024px){
    .navbarMenu{
        flex-direction: column;
        display: none;
    }
    .dropdown{
        display: block;
        position: relative;
    }

    .dropdownMenu{
        transform: scaleY(0);
        position: absolute;
        top: 100%;
        right: 0;
        transition: transform ease-in-out 500ms;
        transform-origin: top;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        background-color:rgba(0, 0, 0, 0.74);
        box-shadow: 0px 5px 15px rgba(255, 115, 0, 0.2);
        backdrop-filter: blur(5px);
        background-size: cover;
        z-index: 5;
    }

    .registerLink{
        display: none;
    }
    .dropdown:hover ~ .dropdownMenu, .dropdownMenu:hover{
        transform: scaleY(1);
        z-index: 5;
    }

    
    .navbarMenuLogo{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 0 5%;
        align-items: center;
    }
}