body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas1{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    overflow: hidden;
}

.register{
    height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;   
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.card{
    background-color: rgba(201, 201, 201, 0);
    color: rgb(255, 255, 255);
    height: 90vh;
    width: 75vh;
    border: 2px solid rgb(248, 134, 3);
    border-radius: 5px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 5px 15px rgba(248, 134, 3, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family:Tahoma;
    position: relative;
    /* padding-right: 1rem; */
    padding-bottom: 2rem;
    gap: 1rem;
}

.card a{
    color: rgb(255, 255, 255);
}

.img-logo{
    width: 30%;
}

.header{
    font-weight: bold;
    font-size: 25px;
    color: white;
    transition: color 0.4s ease;
    cursor: default;
    text-align: center;
}

.header:hover{
    color: rgb(248, 134, 3);
}

.input-section{
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.input-section input{
    height: 4vh;
    border-radius: 3px;
}

.input-section input{
    border: rgba(77, 77, 77, 0.663);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.radio-group{
    gap: 1em;
    display: flex;
    align-items: center;
}

input[type="radio"]:checked {
    color: orange;
}


.terms-container{
    gap: 1em;
    display: flex;
    align-items: center;
}

.card button{
    background-color: rgb(0, 0, 0);
    height: 4vh;
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    border: transparent;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: background-color 0.4s ease, color 0.4s ease;
    border: 1.5px solid rgb(255, 255, 255);
}

.card button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

.register-side{
    width: 60%;
    height: 100%;
    background-position: center;
    background-size:cover;
    border-radius: 3px;
    background-image: url(/css/Assets/about_us/family_and_car.png);
}

.default-positioning{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.second{
    position: relative;
    display: flex;
    gap: 1em;
}

.pass{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5em;
}

.center-positioning{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.back-section{
    display: flex;
    align-items: center;
    width: 90%;
    height: 13%;
    font-weight: 500;
    font-size: 4vh;
}

.back{
    cursor: pointer;
}

.back a{
    text-decoration: none;
}

@media screen and (max-width: 1024px) {

    .card{
        background-color: rgba(201, 201, 201, 0);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        backdrop-filter: blur(2px);
        box-shadow: 0px 5px 0px rgba(255, 255, 255, 0);
        justify-content: center;
        /* width: 90%; */
        align-items: center;
        border: 0px ;
        font-family:Tahoma;
        padding: 0;
        /* position: relative; */
    }
    
    .second{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .pass{
        width: 100%;
    }

    .input-section{
        width: 90%;
    }

    .back-section{
        height: 5%;
        /* margin-top: 1rem; */
    }
}