<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wHeel Hub</title>
    <link rel="stylesheet" href="../Styles/header.css">
    <link rel="stylesheet" href="../Styles/home.css">
    <link rel="stylesheet" href="../Styles/particle.css">
    <link rel="stylesheet" href="../Styles/footer.css">
    <link rel="stylesheet" href="../Styles/aboutUs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <canvas id="canvas1"></canvas>
    <div class="header-wrapper">
        <div class="navbar">
            <div class="navbarMenuLogo">
                <div class="navbarMenuLogoItem">
                    <a href="./home.html">
                        <img src="../Assets/logo.png" alt="" class="logoImage">
                    </a>
                </div>
                <div class="navbarMenuLogoItem dropdown">
                    <div class="hiddenIcon"><img src="../Assets/ui/down_down_arrow.png" alt=""></div>
                </div>
                <div class="dropdownMenu">
                    <div class="dropdownItem"><a href="./home.html" class="dropdownLink">Home</a></div>
                    <div class="dropdownItem"><a href="./promotion.html" class="dropdownLink">Promotion</a></div>
                    <div class="dropdownItem"><a href="./allCars.html" class="dropdownLink">All Cars</a></div>
                    <div class="dropdownItem"><a href="./aboutUs.html" class="dropdownLink">About Us</a></div>
                    <div class="dropdownItem"><a href="./register.html" class="dropdownLink">Register</a></div>
                </div>
            </div>
            <div class="navbarMenu">
                <div class="navbarItem"><a href="./home.html" class="navbarLink">Home</a></div>
                <div class="navbarItem"><a href="./promotion.html" class="navbarLink">Promotion</a></div>
                <div class="navbarItem"><a href="./allCars.html" class="navbarLink">All Cars</a></div>
                <div class="navbarItem"><a href="./aboutUs.html" class="navbarLink">About Us</a></div>
            </div>
            <div class="navbarMenu">
                <a href="./register.html" class="registerLink">Register</a>
            </div>
        </div>
    </div>
    <div class="mid-wrapper">
        <div class="aboutUsTitle">
            About wHeel Hub
        </div>
        <div class="aboutUsDescriptionHeaderContainer">
            <div class="aboutUsHeader">
                At wHeel Hub, our goal is to create the ultimate feeling of Zoom-Zoom – both behind the wheel and beyond the drive.
            </div>
            <div class="coolBtnDiv">
                <button class="coolBtn"><a href="./allCars.html">See All Cars ></a></button>
            </div>
        </div>
        <div class="aboutUsItemContainer">
            <div class="aboutUsItem">
                <div class="aboutUsItemDetail">
                    <img src="../Assets/about_us/car_engineer2.webp" alt="">
                </div>
                <div class="aboutUsItemDetail">
                    <div class="aboutUsItemDetailTitle">
                        Our Story
                    </div>
                    <div class="aboutUsItemDetailDesc">
                        Founded in 2010, wHeelHub started as a small startup with a big vision: to revolutionize the automotive wheel industry. Our journey began in a modest garage where a group of passionate engineers and designers came together to create innovative wheel solutions. Over the years, we have grown into a globally recognized brand, known for our commitment to quality, innovation, and customer satisfaction.
                    </div>
                </div>
            </div>
            <div class="aboutUsItem item2">
                <div class="aboutUsItemDetail">
                    <div class="aboutUsItemDetailTitle">
                        Mission
                    </div>
                    <div class="aboutUsItemDetailDesc">
                        At wHeelHub, our mission is to provide top-quality, innovative wheel solutions that enhance the driving experience for our customers. We are dedicated to delivering products that combine cutting-edge technology with unparalleled craftsmanship. Our goal is to exceed customer expectations by offering wheels that not only meet the highest standards of performance and durability but also add a touch of style and elegance to every vehicle.
                    </div>
                </div>
                <div class="aboutUsItemDetail">
                    <img src="../Assets/about_us/car_interior.jpeg" alt="">
                </div>
            </div>
            <div class="aboutUsItem">
                <div class="aboutUsItemDetail">
                    <img src="../Assets/about_us/family_and_car.png" alt="">
                </div>
                <div class="aboutUsItemDetail">
                    <div class="aboutUsItemDetailTitle">
                        Vision
                    </div>
                    <div class="aboutUsItemDetailDesc">
                        Our vision is to become the world’s leading provider of automotive wheels, recognized for our innovative designs and exceptional quality. We aim to be at the forefront of the industry, continuously advancing our technologies and expanding our product range to meet the evolving needs of our customers.
                    </div>
                </div>
            </div>
            <div class="aboutUsItem item2">
                <div class="aboutUsItemDetail">
                    <div class="aboutUsItemDetailTitle">
                        Core Values
                    </div>
                    <div class="aboutUsItemDetailDesc">
                        At wHeelHub, our core values are the foundation of everything we do. We believe in innovation, quality, and integrity. Innovation drives us to explore new technologies and design concepts, ensuring that our products remain at the cutting edge of the industry. Quality is our commitment to delivering products that meet and exceed the highest standards of performance and durability. Integrity ensures that we conduct our business with honesty, transparency, and respect.
                    </div>
                </div>
                <div class="aboutUsItemDetail">
                    <img src="../Assets/about_us/people_discussing.jpeg" alt="">
                </div>
            </div>
            <div class="aboutUsItem">
                <div class="aboutUsItemDetail">
                    <img src="../Assets/about_us/car_engineer.jpeg" alt="">
                </div>
                <div class="aboutUsItemDetail">
                    <div class="aboutUsItemDetailTitle">
                        Community and Sustainability
                    </div>
                    <div class="aboutUsItemDetailDesc">
                        wHeelHub is not just about business; we are also committed to making a positive impact on the community and the environment. We actively participate in community outreach programs, supporting local initiatives and promoting road safety awareness. Sustainability is a key aspect of our operations, and we continuously seek ways to minimize our environmental footprint. 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerContainer">
        <div class="columnContainer">

            <div class="columnHeader">wHeel Hub</div>
            
            <div class="columnDetail">
                <div>About Us</div>
                <div>Private Policy</div>
                <div>Terms and Conditions</div>
            </div>
            
        </div>
        <div class="columnContainer">

            <div class="columnHeader">Customer Service</div>
            
            <div class="columnDetail">
                <div>Help Center</div>
                <div>Track Progress</div>
                <div>Chat Bot</div>
                <div>Hub Care</div>
            </div>
            
        </div>
        
        <div class="columnContainer">

            <div class="columnHeader">Shop</div>
            
            <div class="columnDetail">
                <div>Shop Cars</div>
                <div>Shop Accessories</div>
                <div>Shop Wraps</div>
            </div>
            
        </div>

        <div class="columnContainer">

            <div class="columnHeader">Action Hub</div>
            
            <div class="columnDetail">
                <div>Helper</div>
                <div>Media Services</div>
                <div>Mobile Hub</div>
                <div>Car Showcases</div>
            </div>
            
        </div>
        
        <div class="columnContainerSocials">
            <div>Follow Us</div>
            <div  class="social-media-logo-container">
                <div><img src="../Assets/footer/FacebookIcon.png" alt="" class="social-media-logo"></div>
                <div><img src="../Assets/footer/WhatsappIcon.png" alt="" class="social-media-logo"></div>
                <div><img src="../Assets/footer/InstagramIcon.png" alt="" class="social-media-logo"></div>
            </div>
            <div>Address: Joglo United Pluit Street</div>
            <div>LC116 &#9734; Gavind &#9734; Clement</div>
        </div>
    </div>
    <script src="../Scripts/particle.js"></script>
</body>
</html>